* {
    padding: 0;
    margin: 0;
}

body {
 background: #000000;
 font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 font-size: 11px;
 line-height: 18px;
 color: #aaa;
}

a { color: #97C4FF; text-decoration: none;}
a:hover { text-decoration: underline; color : #aaa; }

#header {
border-radius: 9px;
height: 80px;
background: #000000;
}
.topic{

    height: 20px;
}

#header h1 {
font-size: 28px;
color: #fff; 
font-weight: 100;
letter-spacing: -3px;

}

#header h1 a {
color: #fff;
text-decoration: none;
}
#header h1 a:hover {
color: #aaa;
text-decoration: none;
}

#header h2 {
color: #ccc;
font-size: 18px;
font-weight: 100;
padding: 0 0 5px 11px;
letter-spacing: 0px;
line-height: 12px;
}

h1{
    color: aliceblue;
}


#footer {
margin-top: 1px;

color: black;
font-size: 12px;
font-family: sans-serif;
border: 2px solid #222;
padding: 10px;
background: #fff;
}

#footer_left {
float: left;
width: 414px;
text-align: left;

}

#footer_mid {
float: left;
width: 414px;

text-align: center;

}

#footer_right {
float: left;
width: 414px;

text-align: right;
}

.brett {border:1px solid;margin-top: 4px;border-radius: 8px;}

.c1 {border:0px solid ;background-color: rgb(204, 180, 95); width: 50px; height: 50px; background-repeat: no-repeat; background-position:center;}

.c2 {border:0px solid;background-color: rgb(255, 255, 255); width: 50px; height: 50px;background-repeat: no-repeat; background-position:center;}

#oTableContainer {float: center;}

#veloFormular { width:150px;}

#mode_form { width:150px;}

#cockpit {float: center;}

/* #container {width: 220px; font-size: 10px;line-height: 1.2;letter-spacing: -1.5px;} */

#links {float:left;}
#mitte {float:left;}
#rechts {float:left;}

#header_right {
float: right;
margin-right: 20px;
width: 100px;
height: 80px;
margin-top: 10px;
}

.button {
    background: #0169d1; /* Green */
    width: 420px;
    height: 40px;
    border-radius: 8px;
    color: white;
    /* padding: 15px 32px; */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    /* margin-right:40px;
    margin-left: 420px;
    */
  }
  .button:hover {
    background: #23d42c; /* Darker shade of green */
    cursor: pointer;
}
